<li>
  <div class="checkbox">
    <label>
      {{input type="checkbox"
          name="todoCheckBox"
          change=(action "toggleTodo")}}
      <span class="{{ if model.isCompleted 'strike-through' }}">
        {{ model.text }}
      </span>
    </label>
  </div>
</li>
