{{add-todo onAdd=(action 'addTodo')}}

<ul class="list-unstyled">
  {{#each todos as |todo index|}}
  {{todo-item onClick=(action 'toggleTodo') model=todo index=index}}
  {{else}}
    You have nothing to do!
  {{/each}}
</ul>

{{#if isCompleted}}
<div>
  <a href='' {{ action 'clearCompleted' }}>Clear completed</a>
</div>
{{/if}}
